<form action="/api/capturar"  method="POST" enctype="multipart/form-data">
    <label for="expediente">Expediente</label>
    <input type="text" name="expediente" id="expediente">
    <br>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre">
    <br>
    <label for="area">Área</label>
    <input type="text" name="area" id="area">
    <br>
    <label for="departamento">Departamento</label>
    <input type="text" name="departamento" id="departamento">
    <br>
    <label for="matricula">Matricula</label>
    <input type="text" name="matricula" id="matricula">
    <br>
    <label for="marca">Marca</label>
    <input type="text" name="marca" id="marca">
    <br>
    <label for="modelo">Modelo</label>
    <input type="text" name="modelo" id="modelo">
    <br>
    <label for="ano">Año</label>
    <input type="text" name="ano" id="ano">
    <br>
    <label for="imagen">Imagen de usuario</label>
    <input type="file" name="imagen" id="imagen">
    <br>
    <br>
    <input type="submit" value="Capturar">
</form> 